body{
    background-color: #16161D;
    color: #800E13;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

#players-container{
    display: flex;
    justify-content: space-evenly;
}

.player-container{
    height: 200px;
    width: 150px;
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 20px;

}

#title{
    width: 100%;

}

#title img{
    display: block;
    margin: auto;
    width: 200px;
}


@media only screen and (max-width: 800px) {
    #players-container{
        flex-wrap: wrap;
    }
    .player-container{
        width: 20%;
        height: 200px;
        margin: 10px;
        padding: 10px;
    }
}


@media only screen and (max-width: 700px) {
    #players-container{
        flex-wrap: wrap;
    }
    .player-container{
        width: 40%;
        height: 250px;
        margin: 10px;
        padding: 10px;
    }
}
