* {
  box-sizing: border-box;
}
body {
  color: black;
  background-color: #fafafa;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Roboto";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.fa-seven:before {
  content: "7";
  font-family: "Raleway", "Roboto";
  font-weight: 700;
}
.page {
  color: #fafafa;
  background-color: #16161d;
  width: 100vw;
  height: 100vh;
}
#player_bar {
  background-color: #800e13;
  width: 100%;
  padding: 0;
  position: absolute;
  z-index: 10;
}
#player_bar h1 {
  background-color: rgba(0, 0, 0, 0.15);
  color: #fafafa;
  width: 100%;
  text-align: center;
  padding: 10px;
}
#player_bar p {
  margin: 5px 0;
  text-align: center;
}
#start {
  display: flex;
  justify-content: center;
  align-items: center;
}
#start form {
  color: #16161d;
  background-color: #fafafa;
  width: 400px;
  min-height: 300px;
  padding: 20px;
  border-radius: 8px;
}
#start form .fields {
  display: flex;
  flex-direction: column;
}
#start form img {
  width: 100%;
  margin: 0 0 50px;
}
#start form label {
  width: 100%;
  font-family: "Raleway";
}
#start form label.helper {
  color: red;
  margin: 0 0 20px;
}
#start form input {
  background-color: #efe3e8;
  color: #16161d;
  width: 100%;
  line-height: 30px;
  border: 0;
  border-radius: 8px;
  padding: 0 5px;
}
#start form button {
  color: #fafafa;
  background-color: #800e13;
  font-family: "Raleway";
  text-transform: uppercase;
  width: auto;
  line-height: 30px;
  padding: 5px 20px;
  border: 0;
  border-radius: 8px;
}
#start form a {
  color: #800e13;
  font-family: "Raleway";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px;
}
#lobby #players-container {
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#lobby #players-container .player-card {
  background-color: white;
  color: black;
  width: 165px;
  height: 220px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#lobby #players-container .player-card .icon {
  font-size: 80px;
}
#lobby #players-container .player-card .name {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 0;
}
#game #card_table {
  width: inherit;
  height: inherit;
  display: flex;
  transition: 0.5s;
}
#game #card_table .card {
  width: 212px;
  height: 300px;
  position: absolute;
  transition: 1000ms;
  overflow: hidden;
}
#game #card_table .card .side {
  background-color: #fafafa;
  color: #16161d;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 6px;
  display: flex;
}
#game #card_table .card .side.black {
  color: #16161d;
}
#game #card_table .card .side.red {
  color: #800e13;
}
#game #card_table .card .side.back .inner {
  background: #800e13 center no-repeat;
  background-size: cover;
  color: #fafafa;
  transform: rotateY(180deg);
}
#game #card_table .card .side .inner {
  width: inherit;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
}
#game #card_table .card .side .inner .middle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game #card_table .card .side .inner .middle h3 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin: 20px 0 0;
}
#game #card_table .card .side .inner .middle i {
  font-size: 80px;
}
#game #card_table .card .side .inner .identifier {
  font-family: "Raleway", "Roboto";
  font-size: 20px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
}
#game #card_table .card .side .inner .identifier.bottom {
  top: auto;
  left: auto;
  bottom: 15px;
  right: 15px;
  transform: rotateZ(180deg);
}
#game #card_table #card-back .back .inner {
  background-color: #52090c;
  transform: rotateY(0deg);
}
