// Colors
@black: #16161D;
@white: #FAFAFA;
@silver: #EFE3E8;
@red: #800E13;
@redLight: #9E1C1C;

// Typography
@raleway: "Raleway";
@roboto: "Roboto";

@text: @roboto;
@headers: @raleway, @text;

// Sizes
@ultra: 64px;
@super: 32px;
@bigger: 24px;
@big: 20px;
@normal: 16px;
@small: 14px;
@smaller: 12px;

// Start of CSS
* { box-sizing: border-box; }

body {
    color: black;
    background-color: @white;
    font-family: @text;
    font-size: @normal;
    font-weight: normal;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @headers;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.fa-seven:before {
    content: "7";
    font-family: @headers;
    font-weight: 700;
}

.page {
    color: @white;
    background-color: @black;
    width: 100vw;
    height: 100vh;
}

#player_bar {
    background-color: @red;
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 10;

    & h1 {
        background-color: rgba(0, 0, 0, 0.15);
        color: @white;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    & p {
        margin: 5px 0;
        text-align: center;
    }
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;

    & form {
        color: @black;
        background-color: @white;
        width: 400px;
        min-height: 300px;
        padding: 20px;
        border-radius: 8px;

        & .fields {
            display: flex;
            flex-direction: column;
        }

        & img {
            width: 100%;
            margin: 0 0 50px;
        }

        & label {
            width: 100%;
            font-family: @raleway;

            &.helper {
                color: red;
                margin: 0 0 20px;
            }
        }

        & input {
            background-color: @silver;
            color: @black;
            width: 100%;
            line-height: 30px;
            border: 0;
            border-radius: 8px;
            padding: 0 5px;
        }
        & button {
            color: @white;
            background-color: @red;
            font-family: @raleway;
            text-transform: uppercase;
            width: auto;
            line-height: 30px;
            padding: 5px 20px;
            border: 0;
            border-radius: 8px;
        }

        & a {
            color: @red;
            font-family: @raleway;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 15px;
        }
    }
}

#lobby {
    & #players-container {
        padding: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & .player-card {
            background-color: white;
            color: black;
            width: 165px;
            height: 220px;
            margin: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & .icon {
                font-size: 80px;
            }
            & .name {
                font-family: @raleway;
                font-size: 20px;
                font-weight: 700;
                margin: 10px 0 0;
            }
        }
    }
}

#game {

    & #card_table {
        width: inherit;
        height: inherit;
        display: flex;
        transition: 0.5s;

        & * {
        }

        & .card {
            width: 212px;
            height: 300px;
            position: absolute;
            transition: 1000ms;
            overflow: hidden;

            & .side {
                background-color: @white;
                color: @black;
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 10px;
                border-radius: 6px;
                display: flex;

                &.black {
                    color: @black;
                }
                &.red {
                    color: @red;
                }

                &.back .inner {
                    background: @red center no-repeat;
                    background-size: cover;
                    color: @white;
                    transform: rotateY(180deg);
                }

                & .inner {
                    width: inherit;
                    border-radius: inherit;
                    display: flex;
                    flex-direction: column;

                    .middle {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        & h3 {
                            font-size: 20px;
                            font-weight: 800;
                            text-align: center;
                            margin: 20px 0 0;
                        }

                        & i {
                            font-size: 80px;
                        }
                    }

                    & .identifier {
                        font-family: @headers;
                        font-size: 20px;
                        font-weight: 800;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 15px;
                        left: 15px;

                        &.bottom {
                            top: auto;
                            left: auto;
                            bottom: 15px;
                            right: 15px;
                            transform: rotateZ(180deg);
                        }
                    }
                }
            }
        }

        & #card-back {
            & .back .inner {
                background-color: darken(@red, 10%);
                transform: rotateY(0deg);
            }
        }
    }
}